<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="TestMapper">
    <select id="test" resultType="java.util.HashMap" parameterType="java.util.Map">
        <![CDATA[
           SELECT id as userId, user as userName FROM lzrd.test;
        ]]>
    </select>
</mapper>