<?xml version="1.0" encoding="utf-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">


	<!-- 自动扫描且只扫描@Controller -->
	<!-- <context:annotation-config /> -->
	<mvc:annotation-driven />

    <context:component-scan base-package="com.lzrd.controller" />
    <aop:aspectj-autoproxy />

    <beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <beans:property name="defaultEncoding">
            <beans:value>UTF-8</beans:value>
        </beans:property>
        <beans:property name="maxUploadSize">
            <beans:value>32505856</beans:value><!-- 上传文件大小限制为31M，31*1024*1024 -->
        </beans:property>
        <beans:property name="maxInMemorySize">
            <beans:value>4096</beans:value>
        </beans:property>
    </beans:bean>


</beans:beans>